{% load i18n %}
{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>Usesoft-PMI BA </title>
  </head>
  <body>

  <div class="container">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <a class="navbar-brand" href="{% url 'ingressos:home' %}">Usesoft-PMI BA</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                  aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">

                  <li class="nav-item">
                      <a class="nav-link" href="#">{% trans 'Criar Evento' %}</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="#">{% trans 'Meus Eventos' %}</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="#">{% trans 'Meus Ingressos' %}</a>
                  </li>

                  {% if user.is_authenticated %}
                      <div class="input-group mb-3">
                          <div class="input-group-prepend">
                            <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{user.username}}</button>
                            <div class="dropdown-menu">
                              <a class="dropdown-item" href="#">Action</a>
                              <a class="dropdown-item" href="#">Another action</a>
                              <a class="dropdown-item" href="#">Something else here</a>
                              <div role="separator" class="dropdown-divider"></div>
                              <a class="dropdown-item" href="{% url 'ingressos:logout' %}">Sair</a>
                            </div>
                          </div>
                      </div>
                  {% else %}
                      <li class="nav-item">
                          <a class="nav-link" href="{% url 'account_login' %}">{% trans 'Login' %}</a>
                      </li>
                  {% endif %}


              </ul>

          </div>

          {% get_current_language as LANGUAGE_CODE %}

          <form action="{% url 'set_language' %}" method="post">{% csrf_token %}
            <input type="hidden" name="next" value="{{ redirect_to }}">
                <h7 class="text-capitalize text-white">{% trans 'idioma' %}: </h7>
                <select name="language" id="">
                    {% get_available_languages as LANGUAGES %}
                    {% get_language_info_list for LANGUAGES as languages %}
                    {% for language in languages %}
                        <option value="{{language.code}}" {% if language.code == LANGUAGE_CODE %} selected {% endif %}>
                            {{ language.name_local }}
                        </option>
                    {% endfor %}
                </select>

              {% if LANGUAGE_CODE == 'pt-br' %}
                <img src="{% static 'flags/br.png' %}" alt="Brasil" title="Brasil">
              {% elif LANGUAGE_CODE == 'en' %}
                <img src="{% static 'flags/us.png' %}" alt="USA" title="USA">
              {% else %}
                <img src="{% static 'flags/es.png' %}" alt="España" title="España">
              {% endif  %}

              <input type="submit" value="{% trans 'Confirma' %}">
        </form>
      </nav>
  </div>

      {% block content %}
      {% endblock %}

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>